div.ff-fill
{
    height: 10px;
    width:20px;
}
td.tablecontent
{
    width: 500px;
}
div.horizontal-scroll 
{ 
    width:700px; 
    height:20px;
} 
div.horizontal-scroll div
{
    width: 2100px;
}
div.vertical-scroll 
{ 
    height:228px; 
    width:20px;
} 
div.vertical-scroll div
{ 
    height:306px; 
} 
td.tableverticalscroll
{
    width:22px;
}
