table.main
{
    width: 700px;
    height: 221px;
    table-layout: fixed;
}
table.root
{
    table-layout: fixed;
}
table.content
{
    table-layout: fixed;
    width: 1890px;
}
table.head
{
    table-layout: fixed;
    width: 1890px;
}
table.frozen
{
    table-layout: fixed;
}
td
{
    line-height: 28px;
}
div.horizontal-scroll
{
    width: 703px;
    height: 22px;
    overflow: hidden;
    overflow-x: scroll;
    border: solid 1px #666;
}
div.horizontal-scroll div
{
    width: 2173px;
    height: 1px;
}
div.vertical-scroll
{
    height: 227px;
    width: 22px;
    overflow: hidden;
    overflow-y: scroll;
    border: solid 1px #666;
}
div.vertical-scroll div
{
    height: 377px;
    width: 1px;
}
td.inner
{
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 3px;
    height: 28px;
}
td.frozencol
{
    border-right: 1px double #666;
    width: 200px;
}
td.col1
{
    border-left: none;
    width: 100px;
}
td.bottomcol
{
    /*border-bottom: 1px solid #666;*/
}
.col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10
{
    width: 200px;
    overflow: hidden;
    text-overflow: ellipses;
    white-space: nowrap;
}
td.head
{
    /*border-bottom: 1px solid #666;*/
    background-color: #efefef;
    border-top: 1px solid #666;
}
.rightcol
{
    border-right: 1px solid #666;
}
.toprow
{
    border-top: 0px;
}
div.root
{
    margin-left: 0px;
    overflow: hidden;
    width: 200px;
    height: 28px;
    border-bottom: 1px solid #666;
}
div.frozen
{
    overflow: hidden;
    width: 200px; /*border-bottom: 1px solid #666;*/
    height: 200px;
}
div.divhead
{
    overflow: hidden;
    height: 28px;
    width: 500px;
    border-left: 1px solid #666;
    border-right: 1px solid #666; /*border-bottom: 0px solid #666;*/
    border-bottom: 1px solid #666;
}
        div.content
        {
            overflow: hidden;
            width: 500px;
            height: 200px;
            border-left: 1px solid #666;
            border-right: 1px solid #666; /*border-bottom: 1px solid #666;*/
        }
        td.tablefrozencolumn
        {
            width: 200px;
            border-right: 3px solid #666;
        }
        td.tablecontent
        {
            width: 501px;
        }
        td.tableverticalscroll
        {
            width: 24px;
        }
        div.ff-fill
        {
            height: 23px;
            width: 23px;
            background-color: #ccc;
            border-right: 1px solid #666;
            border-bottom: 1px solid #666;
        }
